html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62,5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
}

.calculator_display{
    padding: 15px 10px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}

.calculator_keypad{
    display: flex;
    width: 100%;
}

.keypad_numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad_button{
    width: 25%;
    padding: 15px  0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray; 
}

.keypad_button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}

.keypad_button.number{
    background-color: rgb(144, 163, 247);
}

.keypad_button.large{
    width: 50%;
}

.keypad_button.dark{
    background-color: lightgray;
}