
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #003366;
    padding: 15px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

/* Navegación */
.nav-menu ul {
    
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu ul li a {
    border-radius: 5px;
    box-shadow: 2px 3px 10px #000000;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-weight: 500;
    transition: background-color 0.3s;
}


.nav-menu ul li a:hover {
    background-color: #005bb5;
    border-radius: 4px;
}

/* Botón de inicio de sesión */
.login-btn {
    padding: 8px 16px;
    background-color: #005bb5;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #0077e6;
}

.banner {
    background-image: url('banner/banner.png');
    background-size: cover;
    background-position: center;
    padding: 300px;
    
}

.flight-search {
    width: 50%;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flight-search h2 {
    margin-bottom: 20px;
}

.flight-search form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.flight-search form label {
    flex: 1 1 100%;
}

.flight-search form input, 
.flight-search form button {
    padding: 10px;
    flex: 1 1 calc(50% - 15px);
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flight-search form button {
    background-color: #003366;
    color: white;
    cursor: pointer;
    border: none;
}

.offers {
    padding: 20px;
    margin: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.offers h2 {
    margin-bottom: 20px;
}

.offer-grid {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.offer {
    background-color: #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offer img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.additional-services {
    padding: 20px;
    margin: 20px;
    background-color: #ccc;
}

.services-grid {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.service {
    text-align: center;
}

/* Estilos del footer */
.footer {
    background-color: #003366;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #00e1ff; 
}
